

@font-face{
  font-family: 'ourFont';
  src: url('../tw-cen-mt-condensed-extra-bold/TCCEB.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'secondaryFont';
  src: url('../tw-cen-mt-condensed/TCCM____.TTF');
  font-weight: normal;
  font-style: normal;
}
/* -------------------------------- 

Mobile-first 

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-size: 100%;
  font-family: 'ourFont';
  color: #c9dae9;
  
}

body, html {

  height: 100%;
}

a {
  color: #6d6d6d;
  text-decoration: none;
}

h1{
  text-shadow: 4px 4px 4px #2f292a;
  color: rgb(255, 255, 255);
  font-size: 70px;
}

span{
  color: rgb(228, 228, 228);
  font-weight: bold;
  font-size: 15px;
  
}

.visible{
  display: none;
  position: absolute;
  bottom: 0;
}


/* -------------------------------- 

Modules 

-------------------------------- */


.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#priceList, .cd-container p {

  max-width: 100%;
  margin: 0 auto;
  color: #cac8c8;
  font-size: 12px;
  font-family: 'secondaryFont';
  padding: 2% ;
 
 
  }


.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
  width: 40px;
  position: absolute;
  top: 5px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}
.cd-header #cd-logo img:hover{
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.cd-header #team {
  color: rgba(134, 147, 167, 0.9);
  position: absolute;
  font-family: 'Open Sans Condensed', sans-serif;
  top: 25px;
  left: 25%;
  font-size: 15px;
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100vh;
  padding: 2em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
    overflow: hidden;
    text-align:justify;  
    text-justify: auto;
    
}
.cd-scrolling-bg.cd-color-1, .cd-scrolling-bg.cd-color-3 {
  background-color:  #353535;
  

}
.cd-scrolling-bg.cd-color-1, .cd-scrolling-bg.cd-color-2, .cd-scrolling-bg.cd-color-3 {
  background-color:  #353535;
  
  color: #a6989a;
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/gymBw.jpg");
  background-position: top left;
}

.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/gi.jpg");
  background-position: bottom;

}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/IMG_0755.jpg");
  background-position: bottom center;
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/noGiBw.jpg");
  background-position: 50% 50%;
}

.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/kidsBw.jpg");
  background-position: 50% 90%;
}


 .cd-scrolling-bg.cd-color-2{
 background-color: #353535;
 }

.cd-main-content {
 
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center;
  font-size: 40px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}



.cd-header #cd-logo img {
  display: block;
  width: 60px;
  position: absolute;
  top: 5px;
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #3d3d3d;
  border-top: 1px solid #453c3d;
  color: #b4b4b4;
}



/* section 1 */
.cd-scrolling-bg.cd-color-2.gear{
  position: relative;
  
}

.cd-scrolling-bg.cd-color-2.gear:after {
  background-image: url('../img/a55.png');
  opacity: 0.3;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -90px -70px, bottom left;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  
  }
  
/* Trenerzy */

#Trenerzy{
  color: rgb(187, 186, 186);
  
}


#Trenerzy .row{
  margin-top: 65px;
}

.row h2{
  text-align: left;
  margin: 0 10px 60px;

  
}


.trainer{
  padding: 0 10px;
  
}

.trainer.col-xs-12{
  margin: 5 5px;
}
.trainer + .trainer{
  margin-top: 15px; 
}
  .trainer-img{
    float: left;
    display: block;
    margin-right: 10px;
    max-width: 200px;
    box-sizing: border-box;
    position: relative;
    
  }
    .trainer .portrait{
      border-radius: 8px;
      box-sizing: border-box;
      max-width: 140px;
      
    }
  .onClick{
    position: absolute;
    top:8px;
    left:8px;
    height: 25px;
  }
  .trainer-desc{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'secondaryFont';
    font-size: 12px;
  
  }

  .name{
    display: none;
  }

  .visitCard{
    text-align: center;
    font-size: 20px;
    padding-top: 20%;
  }

  .trainer-img .portrait:hover{
    cursor: pointer;
  }

  .trainer-img.black .portrait:hover{
    border: 8px solid black;
  }

  .trainer-img.brown .portrait:hover{
    border: 8px solid rgb(73, 25, 25);
  }

  .trainer-img.blue .portrait:hover{
    border: 8px solid rgb(29, 29, 95);
  }

  /* grafik */

  #schedule{
    margin: 10px auto;
    background-image: url('../img/www.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    height: 80vh;
 
    min-height: 40vh;
  
  }

  /* galeria */

  .item img{
    max-height: 80vh;
    margin: 0 auto;
  }

  #gal h2{
    margin-top: 60px;
  }

  /* google maps API & social media buttons + contact info */

  #map{
    min-width: 320px;
    min-height: 320px;
    border-radius: 6px;
    float: right;
  }

  #map p{
    color: white;
  }

  #adres{
    margin: 0 10px;
    
  }

  .section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }

  .icon{
    flex: 1;
    margin:  10px 40px;
  }

  i:hover{
    color: rgb(190, 190, 190);
  }

  #socialMedia{
    margin: 0 ;
   
  }
  
  #socialMedia .icon:hover {
    cursor: pointer;
  }
  
  #socialMedia li {
   margin: 20px 15%;
   display: block;
    float: left;

  }

  #socialMedia ul{
    margin:0 auto;
  }

  #socialMedia a:link, #socialMedia a:visited{
    text-decoration: none;
    
  }

  #socialMedia .section{
    margin: 0 auto;
  }
  
  .fa{
    font-size: 60px;
    color:rgb(241, 229, 229);
  }

  #Kontakt ul{
    margin-top: 65px;
  }

  #priceList{
    margin: 0 auto;
    background-color: #2c2c2c;
    border-radius: 5px;
    width: 75%;
    table-layout: fixed;
   
  }

 th, tr, td{
    text-align: right;
    width: 16%;
  }

  .wideCell{
    width: 18%;
    padding-left:5px;
    
  }

  .wideCell, .white{
    color: white;
  }


/* 
  #logo1{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/bump.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
  } */

footer{
  width: 100%;
  height: 70px;
  background: rgba(228, 228, 228, 0.95);
}

.partners{
  width: 100%;
  max-width: 1000px;
  margin: 0  auto;
  
}

.partners img{
 margin: 0 10px 0 20px;
 padding-top: 8px;

}

.blog{
  margin: auto 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog span{
  
  font-family: 'secondaryFont';
  font-size: 20px;
  color: rgb(43, 42, 42);
  padding-top: 10px;
  
}

@media only screen and (min-width: 768px) {
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
  
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 1.3rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #9c9c9c;
  }

  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 70px;
      text-shadow: 0 0 10px #000000;
  }

  .cd-scrolling-bg p{
    font-size: 18px;
    padding-bottom: 4%;
    max-width: 100%;
  }

  #priceList{
    font-size: 25px;
  }

  .cd-scrolling-bg.cd-color-2.gear {
    background-image: url('../img/a55.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -350px -200px;
  
    overflow: hidden;
    
    }

  .flex{
    display: flex;
    justify-content: space-between;
    
  }

  .item1{
    padding: 2%;
    width: 49%;
    box-sizing: border-box;
  }

  .item2{
    padding: 2%;
    width: 49%;
    box-sizing: border-box;
  }
    .icon{
      float: left;
      margin:  10px 13%;
    }

  span{
    font-size:  35px;
    color: rgb(231, 231, 231);
   
  }

  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }

  .trainer-desc{
   
    font-size: 15px;
    
  
  }

  .trainer .portrait{
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 200px;   
   
    
  }


  .visitCard{
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
  }

  #logo1{
    width: 400px;
    height: 200px;
    
  }

  .cd-header #team {
    color: rgba(88, 98, 112, 0.548);
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    top: 25px;
    left: 120px;
    font-size: 15px;
  }

  #map{
    width: 350px;
    height: 350px;
    
  }
}

@media (min-width: 992px) { 
  #Onas{
    column-count: 3;
  }
 
 #Onas > div > p{


    font-size: 18px;
    padding-bottom: 8%;
    max-width: 75%;
  }

  #priceList{
    font-size: 25px;
  }

 }

@media only screen and (min-width: 1171px) {
  .cd-container{
    max-width: 1200px;
  }

  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 90px;
    font-weight: 300;
  }

  .cd-scrolling-bg {
    position: relative;
    padding: 4em 0;
    font-size: 20px;
    line-height: 2;
    font-weight: 100;
  }

  #Onas > div > p{
    
    
        font-size: 22px;
        padding-bottom: 4%;
        max-width: 90%;
      }
    

  .cd-scrolling-bg p{
    font-size: 25px;
    padding-bottom: 4%;
    max-width: 100%;
  }

  #priceList{
    font-size: 25px;
  }


  

  #logo1{
  
    width: 600px;
    height: 300px;
     margin: 20px auto 0; 
   
     
    
  } 

  .visitCard{
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
  }

  
  .cd-scrolling-bg.cd-color-2.gear {
    background-image: url('../img/a55.png');
    background-size: 67%;
    background-repeat: no-repeat;
    background-position: -250% - 50%, 50 50;

  
    overflow: hidden;
    
    }

  


  span{
  
    font-weight: bold;
    font-size: 35px;
    
  }

  .trainer-desc{
    
     font-size: 22px;
   
   }

  .cd-header #team {
  
    top: 25px;
    left: 170px;
  
  }

  #map{
    margin-right: 20px;
    width: 430px;
    height: 430px;
  }

  .partners{
    max-width: 1200px;
  }
  
}







