/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Jockey One', sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

h1{

  /*opacity: 0.9;*/
  text-shadow: #2f292a;
  /*background-image: url("../img/ZlomiarzTeamLogo.png");*/
}


/*@media only screen and (max-width: 767px){*/
  /*.cd-header #cd-logo img {*/
    /*display: block;*/
    /*width: 100px;*/
    /*position: absolute;*/
    /*top: 3px;*/
  /*}*/
/*}*/

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */


.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
  width: 40px;
  position: absolute;
  top: 5px;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-header #cd-logo img {
  display: block;
  width: 60px;
  position: absolute;
  top: 5px;
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/gymBw.jpg");
}

.cd-scrolling-bg.cd-color-2 img {
    position: absolute;
    top: -20%;
    left: -20%;
    opacity: 0.4;
    max-width: 100%;
    overflow: hidden;

}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/IMG_0755.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/kidsBw.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/noGiBw.JPG");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 45px;
      text-shadow: 0 0 10px #000000;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 70px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100vh;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
    overflow: hidden;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #2a2323;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #7677a4;
  color: #111111;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.item img{
  max-height: 80vh;
  margin: 0 auto;
}

.trainer{
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #7677a4;
}

/*@media (max-width: 420px){*/
  /*.trainer{*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*background-color: blue;*/
    /*margin: 10px 10px 10px 10px;*/
    /*border-radius: 10px;*/
  /*}*/
/*}*/

/*@media (min-width: 576px){*/
  /*.trainer{*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*background-color: blue;*/
    /*margin: 10px 10px 10px 10px;*/
    /*border-radius: 10px;*/
  /*}*/
/*}*/

/*@media (min-width: 992px){*/
  /*.trainer{*/
    /*width: 220px;*/
    /*height: 250px;*/
    /*background-color: blue;*/
    /*margin: 5px 5px 5px 5px;*/
    /*border-radius: 10px;*/
  /*}*/

  /*.cd-container{*/
    /*max-width: 992px;*/
  /*}*/
/*}*/