*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: #0b0b0b;
    color: aliceblue;
}

header{
    height: 100vh;
    position: relative;
}

header h1{
    font-size: 3rem;
    z-index: 10;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

header h3{
    font-size: 2rem;
    z-index: 10;
    font-family: 'Julius Sans One', sans-serif;
}


main{
    height: 100vh;
    background-color: grey;
}

/*img{*/
    /*position: absolute;*/
    /*bottom: 50%;*/
    /*z-index: 1;*/
/*}*/



.fa-bars{
    font-size: 3rem;
    position: absolute;
    top: 4%;
    right: 7%;
}

#fists{
    position: absolute;
    bottom: 35px;

}

.hgroup{
    position: absolute;
    top: 50%;
    right: 10%;
    line-height: normal;

    text-align: center;
}

#logo{
    position: absolute;
    display: block;
    top: 15%;
    left: auto;
    right: auto;
    width: 90%;
    margin-left: 20px;



}